<?xml version="1.0"?>
<configuration>
	<system.serviceModel>
		<bindings>
			<netTcpBinding>
				<binding name="default" maxReceivedMessageSize="5000000" receiveTimeout="00:20:00" sendTimeout="00:20:00">
					<readerQuotas maxStringContentLength="5000000" maxArrayLength="5000000"/>
				</binding>
			</netTcpBinding>

			<wsHttpBinding>
				<binding name="default" maxReceivedMessageSize="5000000" receiveTimeout="00:20:00" sendTimeout="00:20:00">
					<readerQuotas maxStringContentLength="5000000" maxArrayLength="5000000"/>
				</binding>
			</wsHttpBinding>

			<basicHttpBinding>
				<binding name="default" maxReceivedMessageSize="5000000" receiveTimeout="00:20:00" sendTimeout="00:20:00">
					<readerQuotas maxStringContentLength="5000000" maxArrayLength="5000000"/>
				</binding>
			</basicHttpBinding>


		</bindings>
		<client>
			<endpoint address="http://reporting01/InternalWeb/Portfolio/Soap" binding="basicHttpBinding" contract="Odey.Reporting.Contracts.IPortfolioWeb" bindingConfiguration="default"/>			
		</client>
	</system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
