<?xml version="1.0"?>
<configuration>
	<system.serviceModel>
		<bindings>
			<netTcpBinding>
				<binding name="default" maxReceivedMessageSize="5000000" receiveTimeout="00:20:00" sendTimeout="00:20:00">
					<readerQuotas maxStringContentLength="5000000" maxArrayLength="5000000" />
				</binding>
			</netTcpBinding>
		
		<wsHttpBinding>
			<binding name="default" maxReceivedMessageSize="5000000" receiveTimeout="00:20:00" sendTimeout="00:20:00">
				<readerQuotas maxStringContentLength="5000000" maxArrayLength="5000000" />
			</binding>
		</wsHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://reporting01/InternalWeb/Soap/Funds" binding="wsHttpBinding" contract="Odey.Reporting.Contracts.IFund" bindingConfiguration="default"/>
			<endpoint address="http://reporting01/InternalWeb/Soap/Portfolios" binding="wsHttpBinding" contract="Odey.Reporting.Contracts.IPortfolioWeb" bindingConfiguration="default"/>
		</client>
	</system.serviceModel>
</configuration>