<?xml version="1.0"?>
<configuration>
	<system.serviceModel>
		<bindings>
			<netTcpBinding>
				<binding name="default" maxReceivedMessageSize="5000000" receiveTimeout="00:20:00" sendTimeout="00:20:00">
					<readerQuotas maxStringContentLength="5000000" maxArrayLength="5000000" />
				</binding>
			</netTcpBinding>
		</bindings>
		<client>
			<endpoint address="net.tcp://app02/LiquidityCalculatorService/LiquidityCalculatorService.svc" binding="netTcpBinding" contract="Odey.LiquidityCalculator.Contracts.ILiquidityCalculator" bindingConfiguration="default"/>			
		</client>
	</system.serviceModel>
</configuration>
