<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.serviceModel>
		<bindings>
			<netTcpBinding>
				<binding name="default" maxReceivedMessageSize="5000000" receiveTimeout="00:20:00" sendTimeout="00:20:00">
					<readerQuotas maxStringContentLength="5000000" maxArrayLength="5000000"/>
				</binding>
			</netTcpBinding>
      <basicHttpBinding>
        <binding name="default" maxReceivedMessageSize="900000000" openTimeout="00:05:00" receiveTimeout="00:05:00" sendTimeout="00:05:00" closeTimeout="00:05:00">
          <readerQuotas maxStringContentLength="900000000" maxArrayLength="900000000"/>
        </binding>
      </basicHttpBinding>
		</bindings>
		<client>
      <endpoint address="net.tcp://cache01/QueryService/ReportService.svc" binding="netTcpBinding" contract="Odey.Query.Reporting.Contracts.IReportService" bindingConfiguration="default"/>
		</client>
	</system.serviceModel>
	<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="protobuf-net" publicKeyToken="257b51d87d2e4d67" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.4.0.0" newVersion="2.4.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
