<?xml version="1.0"?>
<configuration>
	<system.serviceModel>
		<bindings>
			<netTcpBinding>
				<binding name="default" maxReceivedMessageSize="5000000" receiveTimeout="00:20:00" sendTimeout="00:20:00">
					<readerQuotas maxStringContentLength="5000000" maxArrayLength="5000000"/>
				</binding>
			</netTcpBinding>
      <basicHttpBinding>
        <binding name="default" maxReceivedMessageSize="900000000"
                 openTimeout="00:05:00"
                 receiveTimeout="00:05:00"
                 sendTimeout="00:05:00"
                 closeTimeout="00:05:00">
          <readerQuotas maxStringContentLength="900000000" maxArrayLength="900000000"/>
        </binding>
      </basicHttpBinding>
		</bindings>
		<client>
      <endpoint address="net.tcp://reporting01/PortfolioCacheService/PortfolioCacheService.svc" binding="netTcpBinding" contract="Odey.PortfolioCache.Contracts.IPortfolioCache" bindingConfiguration="default"/>
      <endpoint address="http://reporting01/InternalWeb/StaticData/Soap" binding="basicHttpBinding" contract="Odey.Reporting.Contracts.IStaticData" bindingConfiguration="default"/>
		</client>
	</system.serviceModel>
	<startup/></configuration>
